body {
  font-family: "Instrument Serif", serif;
  color: #ff5227;
  background: #fff6e6;
}

main {
  height: 100vh;

  .mask {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url("../assets/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #ff5227;
    color: #fff6e6;
  }

  .textContainer {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 30vw;
    p {
      font-size: 60px;
      font-weight: 500;
    }
  }
}
